In [57]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [58]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1418,tt0375210,10000000,91196419,White Noise,Michael Keaton|Chandra West|Deborah Kara Unger...,Geoffrey Sax,The line separating the living from the dead h...,An architect's desire to speak with his wife f...,101,Drama|Horror|Thriller,Universal Pictures|Brightlight Pictures|Endgam...,1/7/2005,5.5,2005
742,tt1133985,200000000,219851172,Green Lantern,Ryan Reynolds|Blake Lively|Peter Sarsgaard|Tim...,Martin Campbell,"In our darkest hour, there will be light.","For centuries, a small but powerful force of w...",114,Adventure|Action|Thriller|Science Fiction,De Line Pictures|Warner Bros.|DC Entertainment,6/16/2011,5.1,2011
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1634,tt0364751,19000000,69631118,Without a Paddle,Seth Green|Matthew Lillard|Dax Shepard|Antony ...,Steven Brill,"The call of the wild, the thrill of adventure....","Three friends, whose lives have been drifting ...",95,Action|Adventure|Comedy|Thriller,Paramount Pictures|De Line Pictures,8/20/2004,5.2,2004
615,tt0373051,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,Eric Brevig,Same Planet. Different World.,On a quest to find out what happened to his mi...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/2008,5.7,2008

In [59]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [60]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [61]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [62]:
# тут пишем ваш код для решения данного вопроса:

# находим строку с максимальным бюджетом, Записываем название в словарь answers под номером 1.
answers['1'] = str(data[data.budget == data.budget.max()]['original_title'])

ВАРИАНТ 2

In [63]:
# можно добавлять разные варианты решения

In [64]:
# перезаписываем название в словарь answers под номером 1, в формате примера:
# answers['1'] = '2. Spider-Man 3 (tt0413300)' - номер ответа + строка: название и imdb_id в скобках.

answers['1'] = str(data.original_title[data.budget.idxmax()]
                + ' (' + data.imdb_id[data.budget.idxmax()] +')')

# 2. Какой из фильмов самый длительный (в минутах)?

In [65]:
# определяем строку с максимальным значением runtime, беркм название imdb_id,
# и записываем в формате примера.
answers['2'] = (str(data.original_title[data.runtime.idxmax()]
                    + ' (' + data.imdb_id[data.runtime.idxmax()] +')'))

# 3. Какой из фильмов самый короткий (в минутах)?

In [67]:
# аналогично заданию 2.
answers['3'] = (str(data.original_title[data.runtime.idxmin()]
                    + ' (' + data.imdb_id[data.runtime.idxmin()] +')'))

# 4. Какова средняя длительность фильмов?

In [69]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [70]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [71]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# Как рекомендовано, создаем новый вычисляемый столбец profit
data['profit'] = data.revenue - data.budget

# записываем ответ по максисальному значению столбца profit
answers['6'] = (str(data.original_title[data.profit.idxmax()]
                + ' (' + data.imdb_id[data.profit.idxmax()] +')'))

# 7. Какой фильм самый убыточный?

In [72]:
# создаем новый вычисляемый столбец profit
data['profit'] = data.revenue - data.budget

# записываем ответ по минимальному значению столбца profit
answers['7'] = (str(data.original_title[data.profit.idxmin()]
                + ' (' + data.imdb_id[data.profit.idxmin()] +')'))

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [73]:
# создаем новый вычисляемый столбец profit
data['profit'] = data.revenue - data.budget

# определяем количество прибыльных фильмов 
answers['8'] = sum(data.profit > 0)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [74]:
# создаем вспомагательный фрейм с фильмами 2008 года
data9 = data[data.release_year == 2008]

# записываем ответ по максисальному значению revenue
answers['9'] = (str(data.original_title[data9.revenue.idxmax()]
                + ' (' + data.imdb_id[data9.revenue.idxmax()] +')'))

In [75]:
# + понятно, что можно уместить в одну строку (лаконичнее), но по мне так проще и нагляднее

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [77]:
# создаем вспомагательный фрейм с фильмами 2012  - 2014 года
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]

# записываем ответ по минимальному значению столбца profit
answers['10'] = (str(data10.original_title[data10.profit.idxmin()]
                      + ' (' + data10.imdb_id[data10.profit.idxmin()] +')'))

# 11. Какого жанра фильмов больше всего?

In [78]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')

# разделяем жанры 
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

# считаем какой чаще встречается и записываем в ответ
answers['11'] = Counter(data.explode('genres')['genres']).most_common(1)[0][0]

ВАРИАНТ 2

In [79]:
data = pd.read_csv('movie_bd_v5.csv')
# смысл примерно такой же, что и в варианте 1, но несколько лаконичнее.
answers['11'] = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0:1][0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [80]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
# создаем вспомогательный фрейм для прибыльных фильмов
data12 = data[data.profit > 0]

# разделяем жанры, считаем какой чаще встречается и записываем в ответ
answers['12'] = Counter(data12.genres.str.cat(sep = '|').split('|')).most_common(1)[0][0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [81]:
data = pd.read_csv('movie_bd_v5.csv')

# разделяем режиссеров
data['director'] = data['director'].apply(lambda x:x.split('|'))

# "взрываем" по столбцу director, оставляя на строчку по одному ркжиссеру
data = data.explode('director')

# группируем по режиссеру, суммируем revenue, сортируем по убыванию, берем верхнего режиссера
answers['13'] = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [82]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем вспомогательный фрейм для фильмов в стиле Action
data14 = data[data.genres.str.contains('Action', na = False)]

# разделяем директоров, считаем какой чаще встречается и записываем в ответ
answers['14'] = Counter(data14['director'].str.cat(sep = '|').split('|')).most_common(1)[0][0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [83]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем список актеров
unique_cast = np.unique(data['cast'].str.cat(sep = '|').split('|'))

# создаем серию с именами актерев в качестве индекса
sum_revenue = pd.Series(index = unique_cast, dtype = 'float64')

# суммируем кассовые сборы для фильмов 2012 года по актерам
for i in sum_revenue.index:
    sum_revenue[i] = data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if i in x else False)].sum()

# записываем в ответ актера (индекс) с максимальным значением кассовых сборов
answers['15'] = sum_revenue[sum_revenue == sum_revenue.max()].index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [84]:
data = pd.read_csv('movie_bd_v5.csv')

# разделяем актеров
data['cast'] = data['cast'].apply(lambda x:x.split('|'))

# создаем хранилище высокобюджетных фильмов
high_budgeted = data[data['budget'] > data.budget.mean()]

# записываем в ответ какой актер в них чаще встречается
answers['16'] = Counter(high_budgeted.explode('cast')['cast']).most_common(1)[0][0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [85]:
data = pd.read_csv('movie_bd_v5.csv')

# разделяем жанры
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

# создаем вспомогательный фрейм фильмов, где снимался Nicolas Cage
data17 = data[data.cast.str.contains('Nicolas Cage', na = False)]

# записываем в ответ какой жанр чаще встречается
answers['17'] = Counter(data17.explode('genres')['genres']).most_common(1)[0][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [86]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем новый вычисляемый столбец profit
data['profit'] = data.revenue - data.budget

# создаем вспомогательный фрейм фильмов, с участием Paramount Pictures
data18 = data[data.production_companies.str.contains('Paramount Pictures', na = False)]

# записываем в ответ название фильма от Paramount Pictures с минимальной прибыльюbv
answers['18'] = data18[data18.profit == data18.profit.min()]['original_title'].iloc[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [87]:
data = pd.read_csv('movie_bd_v5.csv')

# группируем по году,суммируем revenue, берем максимальное
answers['19'] = data.groupby(['release_year'])['revenue'].sum().idxmax()

# 20. Какой самый прибыльный год для студии Warner Bros?

In [88]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем новый вычисляемый столбец profit
data['profit'] = data.revenue - data.budget

# создаем вспомогательный фрейм фильмов, с участием Warner Bros
data20 = data[data.production_companies.str.contains('Warner Bros', na = False)]

# группируем по году,суммируем прибыль, берем максимальную, год записываем в ответ
answers['20'] = data20.groupby(['release_year'])['profit'].sum().idxmax()

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [89]:
data = pd.read_csv('movie_bd_v5.csv')

month = {'1':'Январь', '2':'Февраль', '3':'Март', '4':'Апрель',
         '5':'Май', '6':'Июнь', '7':'Июль', '8':'Август',
         '9':'Сентябрь', '10':'Октябрь', '11':'Ноябрь', '12':'Декабрь'}

# разделяем дату выхода фильма по месяцам, дням, годам
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))

# берем первый элемент (месяц) и записываем в новый столбец - month
data['month']=data['release_date'].apply(lambda x: x[0])

# суммируем фильмы по месяцам, берем максимальное значение и записываем этот месяц в ответ
answers['21'] = month[data['month'].value_counts().idxmax()]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [90]:
data = pd.read_csv('movie_bd_v5.csv')

# список летних месяцев
summer = ['6', '7', '8']

# разделяем дату выхода фильма по месяцам, дням, годам
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))

# берем первый элемент (месяц) и записываем в новый столбец - month
data['month']=data['release_date'].apply(lambda x: x[0])

# суммируем фильмы вышедшие в летние месяцы
summer_sum = 0
for s_month in summer:
    summer_sum += data['month'].value_counts()[s_month]

answers['22'] = summer_sum

# 23. Для какого режиссера зима – самое продуктивное время года?

In [91]:
data = pd.read_csv('movie_bd_v5.csv')

# по аналогии с предыдущими заданиями: разделяем режиссеров, разделяем дату, берем месяц
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])

winter = ['12', '1', '2']

# создаем вспомагательный фрейм для фильмов вышедших зимой
data23 = data[data['month'].isin(winter)]

# определяем самого часто встречающегося режиссера
answers['23'] = data23['director'].value_counts().idxmax(1)[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [92]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем поле для рассчета длины названия
data['len_title'] = data.original_title.apply(lambda x: len(x))

# добавляем новую колонку "взорванную" по компаниям
data24 = data.assign(company = data['production_companies'].str.split('|')).explode('company')

# находим компанию, у которой средняя длина названия фильмов максимальна
answers['24'] = data24.groupby(['company']).mean().idxmax()['len_title']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [93]:
data = pd.read_csv('movie_bd_v5.csv')

# создаем поле для рассчета длины описания
data['len_overview'] = data.overview.apply(lambda x: len(x))

# добавляем новую колонку "взорванную" по компаниям
data25 = data.assign(company = data['production_companies'].str.split('|')).explode('company')

# находим компанию, у которой средняя длина описания к фильмам максимальна по количеству слов
answers['25'] = data25.groupby(['company']).mean().idxmax()['len_overview']

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [94]:
data = pd.read_csv('movie_bd_v5.csv')

# рассчитываем 1 процент
number = int(round(data['vote_average'].count()/100))

# сортируем по vote_average по убыванию, берем 1% и пишем в список
answers['26'] = data.sort_values(by = 'vote_average', ascending=False).head(number).original_title.tolist()

# Комментарий: По моему из буквы задания следует найти, все-таки, процент нормализованный по рейтингу.
# Напрашивается решение через квантили или процентили.
# Но в вариантах ответов такого нет и из ответов модераторов следует, что решение должно быть, вероятно, такое.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [98]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].str.split('|')

# создаем колонку 'pairs', определяем комбинации по парам и записываем
data['pairs'] = data['cast'].apply(lambda x: list(combinations(x, 2)))

# "взрываем" колонку 'pairs', чтобы в ней содержалось лишь одно значение пары, остальные голонки дублируются.
data = data.explode('pairs')

# находим самую часто встречающуюся пару, птшем в ответ
answers ['27'] = Counter(data['pairs']).most_common(1)[0][0]

# Submission

In [99]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars',
  'The Lord of the Rings: The Two Towers'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [100]:
# и убедиться что ни чего не пропустил)
len(answers)

27